/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    background: url(DNA.jpg) ; 
    background-size: cover;

}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: white;
    
}
nav.sticky{
    padding: 15px 20px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content{
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a{
    font-weight: 500;
    font-size: 35px;
    color: #d980e0;
}
nav.sticky .logo a{
    color: #fff;
}
.nav-content .nav-links{
    display: flex;
}
.nav-content .nav-links li{
    list-style: none;
    margin: 0 8px;
}

.nav-links li a{
    text-decoration: none;
    color: #0E2431;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
    color: #d980e0;
}
nav.sticky .nav-links li a{
    color:  #0E2431;
    transition: all 0.4s ease;
}
nav.sticky .nav-links li a:hover{
    color: #0E2431;
}

.container{
    max-width: 700px;
    width:100%;
    background: #fff; 
    padding: 25px 30px; 
    border-radius: 5px; 
}
.container .title{ 
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #e489ea,#e489ea);/*Colorer le trait en rose*/
}
.container form .user-details{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.container:first-child {
    margin-bottom: 20px; /* add margin to separate the two containers */
  }

form .user-details .input-box{
   margin-bottom: 15px;
   width: calc(100% / 2- 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #d980e0;

}

 form .button{
    height: 45px; 
    margin: 45px 0; 
 }
 form .button input{
    outline: none;
    height: 100% ;
    width: 100%;
    border: none;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #d980e0  ;
  
 }
 form .button input:hover{
    background-color: #000 ;
 }

 @media (max-width: 584px)  {
     .container{
         max-width: 100%;
     }
     form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll; 
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
 }