<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
  <meta charset="utf-8" />
        <title> Annotation en cours </title>
        {% load static %}
	    <link rel="stylesheet" href="{% static 'gene_info.css' %}">
  </head>
 <body>
  <nav>
    <div class="nav-content">
      <div class="logo">
        <a >CYPS Genome Annotation.</a> 
      </div>
      <p>{% if user.is_authenticated %}Bienvenue {{ user.get_short_name }} !{% endif %}</p>
      <ul class="nav-links">
        {% if user.is__staff %}
        <li><a href="{% url 'validateur_page' %}">Accueil Admin</a></li>
        {% elif user.is_annotateur %}
          <li><a href="{% url 'annotateur_page' %}">Accueil Annotateur</a></li>
        {% elif user.is_validateur %}
          <li><a href="{% url 'validateur_page' %}">Accueil Validateur</a></li>
        {% elif user.is_lecteur %}
          <li><a href="{% url 'lecteur_page' %}">Accueil Lecteur</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
      </ul>
    </div>
  </nav>

  <div class ="container">
    {% block content %}
      <h1>Annotations en cours</h1>
      <table>
        <thead>
          <tr>
            <th>ID annotation</th>
            <th>Email annotateur</th>
            <th>ID génome</th>
            <th>ID séquence</th>
            <th>Biotype</th>
          </tr>
        </thead>
        <tbody>
          {% for annotation in annotations %}
            <tr>
              <td>{{ annotation.annot_id }}</td>
              <td>{{ annotation.email_annot }}</td>
              <td>{{ annotation.genome_ID }}</td>
              <td>{{ annotation.sequence_id }}</td>
              <td>{{ annotation.Biotype }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}
    </div>
    