<h1>Liste des annotations de génome</h1>

{% for annotation in annotations %}
<p>
  <strong>Nom du gène :</strong> {{ annotation.gene_name }}<br>
  <strong>Description :</strong> {{ annotation.description }}<br>
  <strong>Position de départ :</strong> {{ annotation.start_position }}<br>
  <strong>Position de fin :</strong> {{ annotation.end_position }}<br>
  <strong>Brin :</strong> {{ annotation.get_strand_display }}
</p>
{% endfor %}
<body>
  <!-- Barre de navigation -->
  <nav>
      <div class="nav-content">
      <div class="logo">
          <a >CYPS Genome Annotation.</a> <!-- enlever le lien ? -->
      </div>
      <ul class="nav-links">
          <li><a href="/menu/">Accueil</a></li>
          <li><a href="/inscription/">S'inscrire</a></li>
          <li><a href="/login/">Se connecter</a></li>
      </ul>
      </div>
  </nav>
</body>