<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
  <meta charset="utf-8" />
        <title> Attribution des annotations </title>
        {% load static %}
	    <link rel="stylesheet" href="{% static 'Inscription.css' %}">
  </head>
  <body>
    <!-- Barre de navigation --> 
    <nav>
      <div class="nav-content">
        <div class="logo">
          <a >CYPS Genome Annotation.</a> 
        </div>
        <p>{% if user.is_authenticated %}Bienvenue {{ user.get_short_name }} !{% endif %}</p>
        <ul class="nav-links">
          {% if user.is_annotateur %}
            <li><a href="{% url 'annotateur_page' %}">Accueil Annotateur</a></li>
          {% elif user.is_validateur %}
            <li><a href="{% url 'validateur_page' %}">Accueil Validateur</a></li>
          {% elif user.is_lecteur %}
            <li><a href="{% url 'lecteur_page' %}">Accueil Lecteur</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
        </ul>
      </div>
    </nav>
    
    <div class ="container">
          <div class="title"> Attribuer une séquence à un annotateur </div><br>
          <form method="post">
            {% csrf_token %}
            <div>
              <label for="user">Annotateur :</label>
              <select id="user" name="user">
                {% for user in users %}
                  <option value="{{ user.email }}">{{ user.email }}</option>
                {% endfor %}
              </select>
            </div>
            <div>
              <label for="sequence">Séquence :</label>
              <select id="sequence" name="sequence">
                {% for sequence in sequences %}
                <option value="{{ sequence.seq_id }}">{{ sequence.seq_id }}</option>

                {% endfor %}
              </select>
            </div>
            <button type="submit">Attribuer l'annotation</button>
            <div>
              {{ message }}
            </div>            
          </form>
        </div>
      </body>
    </html>
