<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
  <meta charset="utf-8" />
        <title> Banque externe recherche </title>
        {% load static %}
	    <link rel="stylesheet" href="{% static 'Inscription.css' %}">
  </head>
 <body>
  <nav>
    <div class="nav-content">
      <div class="logo">
        <a >CYPS Genome Annotation.</a> 
      </div>
      <p>{% if user.is_authenticated %}Bienvenue {{ user.get_short_name }} !{% endif %}</p>
      <ul class="nav-links">
        {% if user.is_annotateur %}
          <li><a href="{% url 'annotateur_page' %}">Accueil Annotateur</a></li>
        {% elif user.is_validateur %}
          <li><a href="{% url 'validateur_page' %}">Accueil Validateur</a></li>
        {% elif user.is_lecteur %}
          <li><a href="{% url 'lecteur_page' %}">Accueil Lecteur</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
      </ul>
    </div>
  </nav>
  <div class ="container">
    <div class="title"> Résultat de la recherche </div><br>
<p>Banque : {{selected_database}}</p>
<br>
<pre>
    {{ data|safe }}
    </pre>
</div>
</body>
</html>