<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
  <meta charset="utf-8" />
        <title> Formulaire </title>
        {% load static %}
	    <link rel="stylesheet" href="{% static 'form.css' %}">
  </head>
  <body>
    <!-- Barre de navigation --> 
    <nav>
      <div class="nav-content">
        <div class="logo">
          <a >CYPS Genome Annotation.</a> 
        </div>
        <p>{% if user.is_authenticated %}Bienvenue {{ user.get_short_name }} !{% endif %}</p>
        <ul class="nav-links">
          {% if user.is_annotateur %}
            <li><a href="{% url 'annotateur_page' %}">Accueil Annotateur</a></li>
          {% elif user.is_validateur %}
            <li><a href="{% url 'validateur_page' %}">Accueil Validateur</a></li>
          {% elif user.is_lecteur %}
            <li><a href="{% url 'lecteur_page' %}">Accueil Lecteur</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
        </ul>
      </div>
    </nav>
    
 	<div class ="container">
        <div class="title"> Formulaire </div><br>
		<form method="post">
      {% csrf_token %}
            <div class="form-details">
                <div class = "input-box">
                  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <strong>Numéro d'accession : </strong>
		        <input type="text" placeholder="Entrer le numéro d'accession" name="accessionnb"><br><br>

                <strong> Espèces :</strong>
		        <input type="text" placeholder="Entrer le nom de l'espèce" name="espèce"><br><br>

                <strong> Souche :</strong>
		        <input type="text" placeholder="Entrer le nom de la souche" name="souche"><br><br>

                <strong> Taille de la séquence :</strong>
		        <input type="text" placeholder="Entrer la taille de la seq" name="taille_seq"><br><br>

                <strong>Séquence ID :</strong>
                <input type="text" placeholder="Entrer l'ID de la séquence" name="idsequence"><br><br>
    
                <strong> Type d'ADN :</strong>
                  <select name="Type d'ADN">
                      <option value="chromosome">Chromosome</option>
                      <option value="plasmide">Plasmide</option>
                  </select><br><br>
    
                <strong>CDS start position :</strong>
                <input type="text" placeholder="Entrer le CDS start position" name="cds_start"><br><br>
    
                <strong>CDS end position :</strong>
                <input type="text" placeholder="Entrer le CDS end position" name="cds_end"><br><br>
    
                <strong> Brin :</strong>
                  <select name="Brin">
                      <option value="1">Direct</option>
                      <option value="-1">Indirect</option>
                  </select><br><br>
    
                <strong>Séquence du CDS :</strong><br>
                <textarea id="textarea" rows="3" cols="45" name="cds_seq" placeholder = "Entrer la séquence du CDS" minlength="9" maxlength="27000"></textarea><br><br>
    
                <strong>Taille du CDS :</strong>
                <input type="text" placeholder="Entrer la taille du CDS" name="cds_taille"><br><br>
    
                <strong>Sequence du Peptide :</strong><br>
                <textarea id="textarea" rows="3" cols="45" name="pep_seq" placeholder = "Entrer la séquence péptidique" minlength="3" maxlength="9000"></textarea><br><br>
    
                <strong>Taille du Peptide :</strong>
                <input type="text" placeholder="Entrer la taille du peptide" name="pep_size"><br><br>
    
                <strong>Gene ID :</strong>
                <input type="text" placeholder="Entrer le gène ID" name="geneid"><br><br>
    
                <strong>Gene Biotype :</strong>
                <input type="text" placeholder="Entrer le gene biotype" name="gene_biotype"><br><br>
    
                <strong>Transcript Biotype :</strong>
                <input type="text" placeholder="Entrer le transcript biotype" name="tr_biotype"><br><br>
    
                <strong>Gene Symbol :</strong>
                <input type="text" placeholder="Entrer le gene symbol" name="gene_symbol"><br><br>
    
                <strong>Description :</strong>
                <input type="text" placeholder="Entrer la description" name="description">

                <strong>Séquence du Génome:</strong><br>
    	        <textarea id="textarea" rows="10" cols="55" name="seq_nt" placeholder = "Entrer la séquence" minlength="4"></textarea>
              
                <strong>Type de sortie :</strong>
                  <select name="output_type">
                      <option value="genome">Génome</option>
                      <option value="gene_protein">Gène/protéine</option>
                  </select><br><br>

                <div class="button">
                  <input type="submit" value="Recherche"><br> 
                </div>
            </div>  
		</form>
	</div>
  </body>
</html>