<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
  <meta charset="utf-8" />
    <title> Formulaire </title>
    {% load static %}
	  <link rel="stylesheet" href="{% static 'gene_info.css' %}">
  </head>

  <body>
  <nav>
    <div class="nav-content">
      <div class="logo">
        <a >CYPS Genome Annotation.</a> 
      </div>
      <p>{% if user.is_authenticated %}Bienvenue {{ user.get_short_name }} !{% endif %}</p>
      <ul class="nav-links">
        {% if user.is__staff %}
        <li><a href="{% url 'validateur_page' %}">Accueil Admin</a></li>
        {% elif user.is_annotateur %}
          <li><a href="{% url 'annotateur_page' %}">Accueil Annotateur</a></li>
        {% elif user.is_validateur %}
          <li><a href="{% url 'validateur_page' %}">Accueil Validateur</a></li>
        {% elif user.is_lecteur %}
          <li><a href="{% url 'lecteur_page' %}">Accueil Lecteur</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
      </ul>
    </div>
  </nav>

<div class ="container">
  {% block content %}
  <h1>Information sur les séquences</h1>
  <table>
    <thead>
      <tr>
        <th>ID de séquence</th>
        <th>Nom de séquence</th>
        <th>Fonction</th>
        <th>Séquence</th>
        <th>Position de début</th>
        <th>Position de fin</th>
        <th>Longueur</th>
        <th>Brin</th>
        <th>Type ADN</th>
        <th>Genome</th>
        <th>Biotype</th>
      </tr>
    </thead>
    <tbody>
      {% for sequence in sequences %}
      <!-- getting the gene seq_id-->
      <script>
        var seqid = '{{sequence.seq_id}}';
      </script>
        <tr>
          <td>{{ sequence.seq_id }}</td>
          <td>{{ sequence.seq_name }}</td>
          <td><a href="view_genesequence/?seqid="
            onclick="location.href=this.href+seqid;return false">Afficher la séquence</a>
          </td>
          <td>{{ sequence.description }}</td>
          <td>{{ sequence.seq_start }}</td>
          <td>{{ sequence.seq_end }}</td>
          <td>{{ sequence.longueur }}</td>
          <td>{{ sequence.strand }}</td>
          <td>{{ sequence.type_adn}}</td>
          <td>{{ sequence.num_accession }}</td>
          <td>{{ sequence.seq_biotype}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
</div>
