{% extends 'base.html' %}

{% block content %}
  <h1>Informations sur les gènes et protéines</h1>
  <table>
    <thead>
      <tr>
        <th>ID de séquence</th>
        <th>Nom de séquence</th>
        <th>Type de séquence</th>
        <th>Fonction</th>
        <th>Position de début</th>
        <th>Position de fin</th>
        <th>Brin</th>
        <th>Séquence</th>
        <th>Longueur</th>
        <th>Etat d'annotation</th>
      </tr>
    </thead>
    <tbody>
      {% for sequence in sequences %}
        <tr>
          <td>{{ sequence.seq_id }}</td>
          <td>{{ sequence.seq_name }}</td>
          <td>{{ sequence.seq_type }}</td>
          <td>{{ sequence.fonction }}</td>
          <td>{{ sequence.seq_start }}</td>
          <td>{{ sequence.seq_end }}</td>
          <td>{{ sequence.strand }}</td>
          <td>{{ sequence.sequence }}</td>
          <td>{{ sequence.longueur }}</td>
          <td>{{ sequence.annotated_state }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
