<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
  <meta charset="utf-8" />
        <title> Formulaire </title>
        {% load static %}
	    <link rel="stylesheet" href="{% static 'gene_info.css' %}">
  </head>
 <body>
  <nav>
    <div class="nav-content">
      <div class="logo">
        <a >CYPS Genome Annotation.</a> 
      </div>
      <p>{% if user.is_authenticated %}Bienvenue {{ user.get_short_name }} !{% endif %}</p>
      <ul class="nav-links">
        {% if user.is__staff %}
        <li><a href="{% url 'validateur_page' %}">Accueil Admin</a></li>
        {% elif user.is_annotateur %}
          <li><a href="{% url 'annotateur_page' %}">Accueil Annotateur</a></li>
        {% elif user.is_validateur %}
          <li><a href="{% url 'validateur_page' %}">Accueil Validateur</a></li>
        {% elif user.is_lecteur %}
          <li><a href="{% url 'lecteur_page' %}">Accueil Lecteur</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
      </ul>
    </div>
  </nav>
  
  <div class ="container">
  {% block content %}
    <h1>Informations sur les génomes</h1>
    <table name="Mytable">
      <thead>
        <tr>
          <th>Numéro d'accès</th>
          <th>Séquence</th>
          <th>Longueur de la séquence</th>
          <th>Type d'ADN</th>
          <th>Espèce</th>
        </tr>
      </thead>
      <tbody>
        {% for genome in genomes %}
        <script>
          var num = '{{genome.num_accession}}';
        </script>

          <tr>
            <td>{{ genome.num_accession }}</td>
            <td>
              <a href="view_sequence/?numacc="
              onclick="location.href=this.href+num;return false">Afficher la séquence</a>
            </td>
            <td>{{ genome.longueur }}</td>
            <td>{{ genome.type_adn }}</td>
            <td>{{ genome.espece }}</td>
          </tr>
        {% endfor %}
      </tbody>
      
    </table>
  {% endblock %}
  </div>

  
</body>