<!DOCTYPE html>
<!-- set the language and the direction of the text-->
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>
        
          Sign Up
        </title>
        {% load static %}
        <!--link for css file -->
        <link rel="stylesheet" href="{% static 'inscription.css' %}">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
    </head>

    <body>
    <!-- Barre de navigation -->
    <nav>
        <div class="nav-content">
        <div class="logo">
            <a >CYPS Genome Annotation.</a> <!-- enlever le lien ? -->
        </div>
        <ul class="nav-links">
            <li><a href="/menu/">Accueil</a></li>
            <li><a href="/inscription/">S'inscrire</a></li>
            <li><a href="/login/">Se connecter</a></li>
        </ul>
        </div>
    </nav>
    <div class="container">
        <div class="title"> Sign up </div><br>
        
        <form method="post">
            <div class="user-details">
                <div class = "input-box">
                    <span class="details"> Prénom </span>
                    <input type="text" name = "name" placeholder="Entrer votre prénom" required>
                </div>
                <div class = "input-box">
                    <span class="details">Nom de Famille</span>
                    <input type="text" name="family_name" placeholder="Entrer votre nom de Famille " required>
                </div>
                <div class = "input-box">
                    <span class="details">Email</span>
                    <input type="text" name = "email" placeholder="Entrer votre Email" required>
                </div>
                <div class = "input-box">
                    <span class="details">Numéro de Téléphone </span>
                    <input type="text" name = "phone" placeholder="Entrer votre numéro" required>
                </div>
                <div class = "input-box">
                    <span class="details">Mot de passe</span>
                    <input type="password" name = "password" placeholder="Entrer votre mot de passe" required>
                </div>
                <div class = "input-box">
                    <span class="details">Confirmer votre mot de passe</span>
                    <input type="password" name = "confirm_password" placeholder="Confirmer votre mot de passe" required>
                </div>
            </div>
            <div class= "input-box">
                <span class="details">Choisissez votre rôle</span>
            <select name="role">
                <option value= "reader">Reader</option>
                <option value= "annotator">Annotator</option>
                <option value= "validator">Validator</option>
             </select> <br>
            </div> <br>
                <div class="button">
                    <input type="submit" name = "submit" value="Enregistrer">
                </div>
        </form>
    </div> 
</body>
</html>
