<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
  <meta charset="utf-8" />
        <title> Formulaire d'extraction </title>
        {% load static %}
	    <link rel="stylesheet" href="{% static 'Inscription.css' %}">
  </head>
  <body>
    <!-- Barre de navigation --> 
    <nav>
      <div class="nav-content">
        <div class="logo">
          <a >CYPS Genome Annotation.</a> 
        </div>
        <p>{% if user.is_authenticated %}Bienvenue {{ user.get_short_name }} !{% endif %}</p>
        <ul class="nav-links">
          {% if user.is__staff %}
          <li><a href="{% url 'validateur_page' %}">Accueil Admin</a></li>
          {% elif user.is_annotateur %}
            <li><a href="{% url 'annotateur_page' %}">Accueil Annotateur</a></li>
          {% elif user.is_validateur %}
            <li><a href="{% url 'validateur_page' %}">Accueil Validateur</a></li>
          {% elif user.is_lecteur %}
            <li><a href="{% url 'lecteur_page' %}">Accueil Lecteur</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
        </ul>
      </div>
    </nav>
    
 	<div class ="container">
        <br><br>
        <div class="title"> Formulaire d'extraction </div><br>
          <form action="{% url 'extract_data' %}" method="post">
            {% csrf_token %}
            <h3>Choisir une séquence à extraire</h3>
            <br>
            <div>
                <label for="sequence">Séquence :</label>
                <select id="sequence" name="sequence">
                  {% for sequence in sequences %}
                  <option value="{{ sequence.seq_id }}">{{ sequence.seq_id }}</option>
                  {% endfor %}
                </select>
              </div>
              <br>
                <hr>
                <br>
                <h3>Champs à inclure dans le fichier extrait</h3>
                <br>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Sélectionner</th>
                        <th>Nom de champ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="checkbox" name="fields" value="num_accession"></td>
                        <td>Génome ID</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="fields" value="seq_id"></td>
                        <td>Séquence ID</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="fields" value="type_adn"></td>
                        <td>Type d'adn</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="fields" value="seq_cds"></td>
                        <td>Séquence CDS</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="fields" value="seq_pep"></td>
                        <td>Séquence Peptidique</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="fields" value="seq_biotype"></td>
                        <td>Biotype</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="fields" value="longueur"></td>
                        <td>Longueur</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="fields" value="strand"></td>
                        <td>Brin</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="fields" value="seq_start"></td>
                        <td>Start Position</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="fields" value="seq_end"></td>
                        <td>End Position</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="fields" value="description"></td>
                        <td>Description</td>
                      </tr>
                      <tr>
                      <!-- Ajoutez des lignes pour les autres champs -->
                    </tbody>
                  </table>
                  <input type="submit" value="Exporter" class="btn btn-primary">
                  <div>
                    {{ message }}
                  </div>   
                </form>
              </div>
             </body>
         </html>