<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
  <meta charset="utf-8" />
        <title> Valider l'annotation </title>
        {% load static %}
	    <link rel="stylesheet" href="{% static 'gene_info.css' %}">
  </head>
 <body>
  <nav>
    <div class="nav-content">
      <div class="logo">
        <a >CYPS Genome Annotation.</a> 
      </div>
      <p>{% if user.is_authenticated %}Bienvenue {{ user.get_short_name }} !{% endif %}</p>
      <ul class="nav-links">
        {% if user.is__staff %}
        <li><a href="{% url 'validateur_page' %}">Accueil Admin</a></li>
        {% elif user.is_annotateur %}
          <li><a href="{% url 'annotateur_page' %}">Accueil Annotateur</a></li>
        {% elif user.is_validateur %}
          <li><a href="{% url 'validateur_page' %}">Accueil Validateur</a></li>
        {% elif user.is_lecteur %}
          <li><a href="{% url 'lecteur_page' %}">Accueil Lecteur</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class ="container">
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Annotation ID</th>
                    <th>Email</th>
                    <th>Genome ID</th>
                    <th>Sequence ID</th>
                    <th>Biotype</th>
                    <th>Gene ID</th>
                    <th>Description</th>
                    <th>Valider/Rejeter</th>
                    <th>Commentaire</th>
                </tr>
            </thead>
            <tbody>
                {% for annot in annotations %}
                <tr>
                    <td>{{ annot.annot_id }}</td>
                    <td>{{ annot.email_annot }}</td>
                    <td>{{ annot.genome_ID.num_accession }}</td>
                    <td>{{ annot.sequence_id.seq_id }}</td>
                    <td>{{ annot.sequence_id.seq_biotype }}</td>
                    <td>{{ annot.gene_id }}</td>
                    <td>{{ annot.description}}</td>
                    <td>
                        <select name="validate_reject-{{ annot.annot_id }}">
                            <option value="validate">Valider</option>
                            <option value="reject">Rejeter</option>
                        </select>
                    </td>
                    <td><textarea name="comment-{{ annot.annot_id }}"></textarea></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>
