<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>Validateur</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Inscription.css' %}">
</head>

<body>
  <!-- Barre de navigation --> 
  <nav>
    <div class="nav-content">
    <div class="logo">
        <a >CYPS Genome Annotation.</a> 
    </div>
    <ul class="nav-links">
        <li><a href="/">Acceuil</a></li>
        <li><a href="annotateur_seq.html">Choisir une séquence à annoter</a></li>
        <li><a href="annotateur_historique.html">Historique des Annotations</a></li>
        <li><a href="{% url 'logout' %}">Se deconnecter</a></li>
    </ul>
    </div>
  </nav>

<div class ="container">
    <p><h2> Tu es Annotateur tu as plusieurs fonctionnalités ! </h2><br>
    <p>Clique sur <strong>Attribuer une annotation</strong> pour attribuer une annotation à un annotateur et sur <strong>Valider/Rejeter une annotation</strong> pour valider ou rejeter une annotation</p><br>
    <button class='btn btn--assign' type='submit' onclick = "location.href = 'attrib_annot.html'">Attribuer une annotation</button>
    <button class='btn btn--assign' type='submit' onclick = "location.href='validation.html'">Assign <br> Valider/Rejeter une annotation</button>
</div>
<!-- Logo -->
<script>
    let nav = document.querySelector("nav");
        window.onscroll = function() {
            if(document.documentElement.scrollTop > 20){
                nav.classList.add("sticky");
            }else {
                nav.classList.remove("sticky");
            }
        }
      </script>
    </body>
    </html>